.filled-button {
    font-size: .875rem;
    padding: 0 .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: .25rem;
    height: 3rem;
    background: var(--primary, #1B5FC6);

    &--mini {
        height: 2.25rem;
    }

    &--full {
      width: 100%;
    }
}
