<nav class="navbar">
  <search-bar />
  <filled-link-button href="/submit" [isMini]="true">
    Create <span class="icon-add"></span>
  </filled-link-button>
  <a routerLink="/account">
    @if (!accountStore.getState().isLoading) {
    <avatar
      [size]="36"
      [avatar]="accountStore.getState().item?.avatar"
      [username]="accountStore.getState().item?.username!"
    />
    } @else {
    <!-- todo: create skeleton -->
    <div
      style="height: 36px; width: 36px; background-color: rgb(53, 55, 57); border-radius: 100%"
    ></div>
    }
  </a>
</nav>
