.post-card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem .5rem .5rem;
    background-color: #18181A;
    color: white;
    border-bottom: thin solid #4E4E4E;

    &__autor {
        display: flex;
        gap: .75rem;
        align-items: center;
    }

    &__media {
        aspect-ratio: 16/9;
    }

    &__icon::before {
        font-size: var(--lg);
    }

    &__text {
        font-size: var(--sm);
    }

    &__header {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }

    &__content {
        font-family: 'LexendDecaLight';
        font-size: 14px;
        color: var(--gray);
        font-weight: 100;
    }
}
