.search-bar {
    width: 100%;
    outline: none;
    height: 2.5rem;

    &::placeholder {
        color: var(--gray);
    }

    &:placeholder-shown {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
        border-radius: var(--xxl);
        background: var(--contrast);
    }
}
