:root {
    --mc: 0.5rem;
    --sm: 0.75rem;
    --ms: 0.875rem;
    --md: 1rem; 
    --lg: 1.275rem;
    --xl: 1.5rem;
    --xxl: 2rem;
    --base: #18181A;
    --contrast: #272727;
    --gray: #9B9B9B;
    --gray-50: #4E4E4E;
    --gray-70: #434643;
    --primary: #1B5FC6;
  }