.search-bar {
    min-width: 8.5rem;
    width: 100%;
    padding: 0 var(--sm) 0 3rem;
    border-radius: var(--xxl);
    outline: none;
    height: 2.5rem;
    background: var(--constrast, #272727);

    &::placeholder {
        color: var(--gray);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &:placeholder-shown {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__wrapper {
        max-width: 54rem;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 24%;
        left: var(--sm);
    }
}
